.container{
    margin-left: 300px;
    margin-top: 5px;
    width: 800px;
    max-height: 800px;
    overflow-y: auto;
        
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    border-radius: 20px;
    background-color: #fff7f7, none;
    opacity: 0.8, none;
}

h5{
    margin-top: -10px;
}

.imgdetailstyle{
    margin-top: 50px;
    width: 210px;
    height: 140px;
}

.details{
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 450px;
    border-radius: 0 50px;
    background-color: #fff7f7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.activity{
    
    margin-top: 10px;
    margin-left: 320px,none;
    width: auto;
    max-width: 400px;
    height: auto;

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50px 0;
    background-color: #fff7f7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.carddd{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;


    padding: 5px 0 0 1px;
    text-align: center;
    text-transform: uppercase;
    
    margin: 5px 5px;
    width: 150px;
    height: auto;
    background-color:#f5fcf1;
    border-radius: 20px;
    border: 1px solid black;
    
    background-color:#ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}

.contendSeasonP{
    background-color: aqua,none;
    text-align: left;
    margin-left: 30px;
}

.carddd p{
    margin-top: 5px;
    margin-bottom: -5px;
}
.sinActivity{
    margin: 40px 10px;
    width: 80%;
    height: auto;
    justify-content: center;
    margin-left: 30px;

    background-color:aqua,none;
}
.imgSActivity{
    width: 250px,none;
    height: 200px;
}

.crearActivity{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.crearActivity h1{
    color: #ffffff;
    margin-left: 200px;
    margin-bottom: 10px;
    font-size: 3rem;
}

.crearActivity button{
    margin-left: 500px;
}
.button {
    margin-left: 400px;
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    color: black;
    z-index: 1;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

   .errorId h1{
    color: red;
   }
   .imgErrorId{
    width: 350px;
    height: 400px;
   }
   .h1Activitis{
        color: #ffffff;
        margin-left: 200px;
        margin-top: -40px;
   }